<ion-content>
    <ion-grid class="completa">
        <ion-row class="completa ion-align-items-center">
            <ion-col>
                <ion-card>
                    <ion-card-header>
                        <div text-center>
                            <ion-img width="150" height="150" src="https://upload.wikimedia.org/wikipedia/commons/a/aa/Logo_DuocUC.svg"></ion-img>  
                         </div> 
                        <ion-card-title class="ion-text-center">
                            Recuperar contraseña
                        </ion-card-title>
                    </ion-card-header>
                    <ion-card-content>
                        Ingresa tu correo y te enviaremos un código de verificación para la recuperación de la contraseña
                        <ion-grid>

                            <ion-row>
                                <ion-col>
                                    <ion-item>
                                        <ion-label position="floating">
                                            Correo electrónico
                                        </ion-label>
                                        <ion-input type="password" required></ion-input>
                                    </ion-item>
                                </ion-col>
                            </ion-row>
                            <ion-row>
                                <ion-col>
                                    <ion-button expand="block">
                                        Enviar
                                    </ion-button>
                                </ion-col>
                            </ion-row>
                            <ion-row>
                                <ion-col class="ion-text-center">
                                    <ion-router-link
                                        href=""
                                    >
                                        Volver a iniciar sesión
                                    </ion-router-link>
                                </ion-col>
                            </ion-row>
                        </ion-grid>
                    </ion-card-content>
                </ion-card>
            </ion-col>
        </ion-row>
       
    </ion-grid>
</ion-content>